<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/officer_home/"method="post">
        <p><a href="/myapp/view_complaint/">view_complaint</a></p>
        <p><a href="/myapp/alert/">alert</a></p>
            <p><a href="/myapp/view_alert/">view_alert</a></p>
        <p><a href="/myapp/view_notification/">notification</a></p>
{#        <p><a href="/myapp/view_allocation/">view_allocation</a></p>#}
{#        <p><a href="/myapp/view_complaint/">Viewcomplaint</a></p>#}

</form>
</body>
</html>