{% extends 'Admin/template.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
    <table class="table table-bordered mt-3 mb-3">

    <tr>
      <td>Station</td>
      <td><input type="text" name="textfield" id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <td>Officer</td>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
  </table>
</form>
{% endblock %}
