{% extends 'Admin/template.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/animal_post/" enctype="multipart/form-data">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td width="112">Animal name</td>
      <td width="144"><input type="text" name="textfield" id="textfield" required class="form-control"/></td>
    </tr>
    <tr>
      <td>Category</td>
<td><select name="select" id="select"class="form-control">
           {% for i in data %}
            <option value="{{ i.id }}">{{ i.category_name }}</option>
        {% endfor %}
      </select></td>
    </tr>
  <tr>
      <td width="112">Image</td>
      <td width="144"><input type="file" name="filefield" id="filefield" required class="form-control"/></td>
    </tr>
  <tr>
      <td width="112">Description</td>
      <td width="144"><textarea rows="5" cols="45" name="textarea" id="textarea" required class="form-control"></textarea></td>
    </tr>
  <tr>
      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn btn-info"/></td>
    </tr>
  </table>
</form>
{% endblock %}
