{% extends 'Admin/template.html' %}
{% block body %}

<form action="/edit_officer_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
{% csrf_token %}
    <table class="table table-bordered mt-3 mb-3">
      <input type="hidden" value="{{ data1.id }}"name="id1">
    <tr>
      <td width="112">Sation</td>
        <td><select name="select" id="select"class="form-control">
           {% for i in data %}
            <option value="{{ i.id }}"{% if data1.STATION.id == i.id %}selected{% endif %}>{{ i.name }}</option>
        {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>Officer name</td>
      <td><input type="text" name="textfield2" id="textfield2"  class="form-control" value="{{ data1.name }}"pattern="[a-zA-Z][a-zA-Z ]{2,}"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield3" id="textfield2"value="{{ data1.email}}"class="form-control" /></td>
    </tr>
    <tr>
      <td>Genter</td>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="male" id="RadioGroup1_0"{% if data1.gender == 'male' %}checked{% endif %} />
          male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="female" id="RadioGroup1_1" {% if data1.gender == 'female' %}checked{% endif %}/>
          female</label>
        <br />
        <label>
                          other</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><input type="text" name="textfield4" id="textfield2" value="{{ data1.age }}"class="form-control"/></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="fileField" id="fileField" value="{{ i.photo }}"class="form-control"/></td>
    </tr>
    <tr>
      <td>Phone_no</td>
      <td><input type="text" name="textfield5" id="textfield2" value="{{ data1.phone }}"requiredclass="form-control"/></td>
    </tr>

    <tr>
      <td>State</td>
      <td><input type="text" name="textfield6" id="textfield2"value="{{ data1.state }}" required class="form-control"/></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" name="textfield7" id="textfield2" value="{{ data1.city }}"required class="form-control"/></td>
    </tr>
  <tr>
      <td>Place</td>
      <td><input type="text" name="textfield8" id="textfield2"value="{{ data1.place }}" required class="form-control"/></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="textfield9" id="textfield2"value="{{ data1.pin }}"required class="form-control" /></td>
    </tr><tr>
      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="update" class="btn btn-info"/></td>
    </tr>
  
  </table>
  
</form>
{% endblock %}
