<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/myapp/admin_home/"method="post">
        <p><a href="/myapp/forest_division/">forest_division</a></p>
        <p><a href="/myapp/view_forest_division/">view_forest_division</a></p>
        <p><a href="/myapp/station/">station</a></p>
        <p><a href="/myapp/view_station/">view_station</a></p>
        <p><a href="/myapp/animal/">animal</a></p>
        <p><a href="/myapp/view_animal/">view_animal</a></p>
        <p><a href="/myapp/forest_officer/">forest_officer</a></p>
        <p><a href="/myapp/view_officer/">view_officer</a></p>
        <p><a href="/myapp/view_usercomplaint/">view_usercomplaint</a></p>
        <p><a href="/myapp/send_reply/">send_reply</a></p>
        <p><a href="/myapp/notification/">notification</a></p>
        <p><a href="/myapp/allocation/">allocation</a></p>
        <p><a href="/myapp/view_allocation/">view_allocation</a></p>
{#        <p><a href="/myapp/view_complaint/">Viewcomplaint</a></p>#}

</form>
</body>
</html>