{% extends 'Admin/template.html' %}
{% block body %}

<form action="/admin_add_video_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <table class="table table-bordered  table-hover mt-3 mb-3">
        <tr>
            <td><input type="file" name="fileField" id="fileField" class="form-control"/></td>
            <td align="center"><input type="submit" name="action" id="button" value="Upload File" class="btn btn-info"/></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><button type="submit" name="action" value="live" class="btn btn-info">Use Webcam</button></td>
        </tr>
    </table>
</form>
{% endblock %}